<h1><%= "Hello, #{current_user.email}" %></h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
<p>Tu peux essayer l'API avec les informations d'identification suivantes.</p>
<div class="home-container">
  <ul>
    <li><%= link_to "Web Articles", articles_path %></li>
    <li>API V1 Articles</li>
    <li>API V1 Android Articles</li>
  </ul>
</div>